<!DOCTYPE html>
<html>
  <head>
    <title>Kendra Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id='welcome-page'>
    <h1>Krazy Kendra Sale</h1>

    <img id='leftImg' src='images/leftImg.jpeg'>

    <div id='middleColumn'>
      <a href='/contact' id='contactMe' type='submit'> Contact Me </a>
      <img id='ksBoxes' src='images/ksBoxes.jpg'>
      <a href='/products' value='viewProducts'> View Products </a>
    </div>

    <p>Great prices on quality jewelry that has 
      been very lightly/never worn. Alot of these 
      pieces are no longer sold in-store or they 
      are custom pieces. Prices are 50%-70% off 
      in-store prices! If you have any questions, 
      feel free to contact me!</p>

    <img id='rightImg' src='images/rightImg.jpeg'>
    
  </body>
</html>
