<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Gunmetal Products</title>
</head>
<body id='gunmetal-page'>
  <nav>
    <a id='gld' href='/products/metals/gold'> Gold Options </a><br>
    <a id='rhod' href='/products/metals/silver'> Silver Options </a><br>
    <a id='rsgld' href='/products/metals/rsg'> Rose Gold Options </a><br>
    <a id='color' href='/products/metals/colorful'> Colorful Options </a><br>
  </nav>
  <div>
    <form action='/products/orders/new' method='POST'>
      <img id='Img' src='/images/items/gunmetal/gnmt-alex.png'>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <form action='/products/orders/new' method='POST'>
      <img id='Img' src='/images/items/gunmetal/gnmt-darrell.png'>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <form action='/products/orders/new' method='POST'>
      <img id='Img' src='/images/items/gunmetal/gnmt-elora.png'>
      <input type='submit' value='Add To Cart'>
    </form>
  <div>
    <form action='/products/orders/new' method='POST'>
      <img id='Img' src='/images/items/gunmetal/ngnmt-malia.png'>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <footer>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>