<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>User Cart</title>
</head>
<body id='cart-page'>
  <div class='navbar-fixed'>
    <nav id='navCart'>
      <div class='nav-wrapper'>
          <a id='opt' href='/gold'> Gold </a><br>
          <a id='opt' href='/silver'> Silver </a><br>
          <a id='opt' href='/rsg'> Rose Gold </a><br>
          <a id='opt' href='/gunmetal'> Gunmetal </a><br>
          <a id='opt' href='/colorful'> Colorful </a><br>
      </div> 
    </nav>
  </div>
  <div id='cartWelcome'>
    <h1>Welcome to Your Cart</h1>
    <h2 id='userName'> <%= user.name %> </h2>
    <h5 id='userName'>Your Items You Have Selected are Shown Below:</h5>
  </div>
  <ul id='cartContent'>
    <% user.cart.forEach(function(item) { %>
    <li>
      <%- item.item %>
      <%= item.price %>
      <% }) %>
    </li>
  </ul>
  <footer id='footer-cart'>
    <a  id='back' href='/products'> Back </a>
  </footer>

</body>
</html>