<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='allprod' href='/products/show'> All Products </a>
      </div> 
    </nav>
  </div>
    <h1>Welcome to Your Cart</h1>
    <h2> <%= user.name %> </h2>
    <h5>Your Items You Have Selected are Shown Below:</h5>
  <ul>
    <% user.cart.forEach(function(item) { %>
    <li>
      <%- item.item %>
      <%= item.price %>
      <% }) %>
    </li>
  </ul>

  <footer id='footer-show'>
    <a  id='back' href='/products'> Back </a>
  </footer>

</body>
</html>