<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Gold Products</title>
</head>
<body id='item-page'>
  <div id='nav' class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='opt' href='/silver'> Silver </a><br>
        <a id='opt' href='/rsg'> Rose Gold </a><br>
        <a id='opt' href='/gunmetal'> Gunmetal </a><br>
        <a id='opt' href='/colorful'> Colorful </a><br>
        <a id='opt' href='/products/show'> All Products </a><br>
        <a id='cart' href='/products/orders'> View Cart </a><br>
      </div>
    </nav>
  </div>
  <div>
    <img id='Img' src='/images/gold/atticus.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Atticus Earrings in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Atticus<br>Style: Earrings<br>Metal: Gold<br>Season: Winter 2017<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/juniper.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Juniper Earrings in Gold'>
      <input type='hidden' name="price" value='$15'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Juniper<br>Style: Earrings<br>Metal: Gold<br>Season: Winter 2017<br>Price: $15</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/didi.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Didi Earrings in Gold'>
      <input type='hidden' name="price" value='$50'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Didi<br>Style: Earrings<br>Metal: Gold<br>Season: Fall 2019<br>Price: $50</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/denise.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Denise Earrings in Gold'>
      <input type='hidden' name="price" value='$40'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Denise<br>Style: Earrings<br>Metal: Gold<br>Season: Fall 2018<br>Price: $40</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/kristen.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Kristen Earrings in Gold'>
      <input type='hidden' name="price" value='$35'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Kristen<br>Style: Earrings<br>Metal: Gold<br>Season: Fall 2018<br>Price: $35</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/brett.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Brett Necklace in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Brett<br>Style: Necklace<br>Metal: Gold<br>Season: Winter 2017<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>   
  </div>
  <div>
    <img id='Img' src='/images/gold/brettr.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Brett Necklace in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Brett<br>Style: Necklace<br>Metal: Gold<br>Season: Winter 2017<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>   
  </div>
  <div>
    <img id='Img' src='/images/gold/inez.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Inez Necklace in Gold'>
      <input type='hidden' name="price" value='$30'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Inez<br>Style: Necklace<br>Metal: Gold<br>Season: Signature 2019<br>Price: $30</p>
      <input type='submit' value='Add To Cart'>
    </form>   
  </div>
  <div>
      <img id='Img' src='/images/gold/augusta.png'>
      <form action='/products/addToCart' method='POST'>
        <input type='hidden' name="item" value='Augusta Necklace in Gold'>
        <input type='hidden' name="price" value='$30'>
        <input type='hidden' name="quantity" value='1'>
        <p id='detail'>Name: Augusta<br>Style: Necklace<br>Metal: Gold<br>Season: Fall 2018<br>Price: $30</p>
        <input type='submit' value='Add To Cart'>
      </form>   
    </div>
  <div>
    <img id='Img' src='/images/gold/supak.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Supak Bracelet in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Supak<br>Style: Bracelet<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>   
  </div>
  <div>
    <img id='Img' src='/images/gold/reagan.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Reagan Ring in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Reagan<br>Style: Ring<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/kayla.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Kayla Ring in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Kayla<br>Style: Ring<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <footer id='footer-show'>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>