<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Gold Products</title>
</head>
<body id='item-page'>
  <div id='nav' class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='opt' href='/silver'> Silver </a><br>
        <a id='opt' href='/rsg'> Rose Gold </a><br>
        <a id='opt' href='/gunmetal'> Gunmetal </a><br>
        <a id='opt' href='/colorful'> Colorful </a><br>
        <a id='opt' href='/products/show'> All Products </a><br>
        <a id='cart' href='/products/orders'> View Cart </a><br>
      </div>
    </nav>
  </div>
  <div>
    <img id='Img' src='/images/gold/atticus.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Atticus Earrings in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Atticus<br>Style: Earrings<br>Metal: Gold<br>Season: Winter 2017<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/brett.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Brett Necklace in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Brett<br>Style: Necklace<br>Metal: Gold<br>Season: Winter 2017<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>   
  </div>
  <div>
    <img id='Img' src='/images/gold/reagan.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Reagan Ring in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Reagan<br>Style: Ring<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <footer id='footer-show'>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>