<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Gunmetal Products</title>
</head>
<body id='item-page'>
  <div id='nav' class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='opt' href='/gold'> Gold </a><br>
        <a id='opt' href='/silver'> Silver </a><br>
        <a id='opt' href='/rsg'> Rose Gold </a><br>
        <a id='opt' href='/colorful'> Colorful </a><br>
        <a id='opt' href='/products/show'> All Products </a><br>
        <a id='cart' href='/products/orders'> View Cart </a><br>
      </div>
    </nav>
  </div>
  <div>
    <img id='Img' src='/images/gunmetal/alex.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Alex Earrings in Gunmetal'>
        <input type='hidden' name="price" value='$30'>
      <p id='detail'>Name: Alex<br>Style: Earrings<br>Metal: Gunmetal<br>Stone: Abalone<br>Price: $30</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gunmetal/darrell.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Darrell Necklace in Gunmetal'>
      <input type='hidden' name="price" value='$55'>
      <p id='detail'>Name: Darrell<br>Style: Necklace<br>Metal: Gunmetal<br>Stones: Abalone, Dichroic Glass, and Clear<br>Price: $55</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gunmetal/elora.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Elora Earrings in Gunmetal'>
      <input type='hidden' name="price" value='$35'>
      <p id='detail'>Name: Elora<br>Style: Earrings<br>Metal: Gunmetal<br>Stone: Sky Blue Illusion<br>Price: $35</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gunmetal/malia.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Malia Bracelet Set in Navy-Gunmetal'>
      <input type='hidden' name="price" value='$20'>
      <p id='detail'>Name: Malia<br>Style: Bracelet<br>Metal: Navy-Gunmetal<br>Season: Winter 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <footer id='footer-show'>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>