<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kendra Products</title>
  </head>
  <body id='products-index-page'>
    <div class='navbar-fixed'>
      <nav>
        <div class='nav-wrapper'>
          <a id='necklaces' href='/products/necklaces'> Necklaces </a><br>
          <a id='bracelets' href='/products/bracelets'> Bracelets </a><br>
          <a id='earrings' href='/products/earrings'> Earrings </a><br>
          <a id='rings' href='/products/rings'> Rings </a><br>
          <a id='cart' href='/products/orders'> View Cart </a><br>
          <ul>
              <% if (ksUser) { %>
                <a id='logout' href='/logout'> Log Out </a>
              <% } else { %>
                <a id='login' href='/auth/google'> Login with Google </a>
              <% } %>
          </ul>
        </div> 
      </nav>
    </div>

      <div id='top-options'>
        <div id='gold'>
          <img id='ders' src='images/dersGold.jpeg'>
          <a id='goldOption' href='/products/gold'> Gold Options </a><br>
        </div>
        <div id='silver'>
          <img id='steph' src='images/stephSlv.jpeg'>
          <a id='silverOption' href='/products/silver'> Silver Options </a><br>
        </div>
        <div id='gunmetal'>
          <img id='model' src='images/gunmetal.jpeg'>
          <a id='gunmetalOption' href='/products/gunmetal'> Gunmetal Options </a><br>
        </div>
      </div>

      <div id='bottom-options'>
        <div id='rsg'>
          <img id='meg' src='images/megRsg.jpeg'>
          <a id='rsgOption' href='/products/rsg'> Rose Gold Options </a><br>
        </div>
        <div id='colorful'>
          <img id='me' src='images/colorful.png'>
          <a id='colorfulOption' href='/products/colorful'> Colorful Options </a><br>
        </div>
        <div id='allProducts'>
          <img id='boxes' src='images/ksBoxes.jpg'>
          <a id='allprod' href='/products/show'> All Products </a>
        </div>
      </div>

    <footer>
      <a id='back' href='/'> Back </a>
    </footer>

  </body>
</html>