<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Ring Products</title>
</head>
<body id='item-page'>
  <div id='nav' class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='opt' href='/necklaces'> Necklaces </a><br>
        <a id='opt' href='/earrings'> Earrings </a><br>
        <a id='opt' href='/bracelets'> Bracelets </a><br>
        <a id='opt' href='/products/show'> All Products </a>
        <a id='cart' href='/products/orders'> View Cart </a>
      </div>
    </nav>
  </div>
  <div>
    <img id='Img' src='/images/gold/reagan.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Reagan Ring in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Reagan<br>Style: Ring<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/gold/kayla.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Kayla Ring in Gold'>
      <input type='hidden' name="price" value='$20'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Kayla<br>Style: Ring<br>Metal: Gold<br>Season: Fall 2018<br>Price: $20</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/rsg/pryded.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Pryde Ring in Rose Gold'>
      <input type='hidden' name="price" value='$25'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Pryde<br>Style: Ring<br>Metal: Rose Gold<br>Season: Spring 2019<br>Price: $25</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/rsg/pryde.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Pryde Ring in Rose Gold'>
      <input type='hidden' name="price" value='$15'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Pryde<br>Style: Ring<br>Metal: Rose Gold<br>Season: Winter 2018<br>Price: $15</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <div>
    <img id='Img' src='/images/rsg/joel.png'>
    <form action='/products/addToCart' method='POST'>
      <input type='hidden' name="item" value='Joel Ring in Rose Gold'>
      <input type='hidden' name="price" value='$5'>
      <input type='hidden' name="quantity" value='1'>
      <p id='detail'>Name: Joel<br>Style: Ring<br>Metal: Rose Gold<br>Season: Winter 2018<br>Price: $5</p>
      <input type='submit' value='Add To Cart'>
    </form>
  </div>
  <footer id='footer-show'>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>