<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Product Detail</title>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
</head>
<body id='all-products-page'>
    <div id='nav' class='navbar-fixed'>
      <nav>
        <div class='nav-wrapper'>
          <a id='opt' href='/products/gold'> Gold </a>
          <a id='opt' href='/products/rosegold'> Rosegold </a>
          <a id='opt' href='/products/silver'> Silver </a>
          <a id='opt' href='/products/gunmetal'> Gunmetal </a>
          <a id='opt' href='/products/colorful'> Colorful </a>
          <a id='cart' href='/products/orders'> View Cart </a>
        </div>
      </nav>
    </div>
    <div>
      <img id='Img' src='/images/gunmetal/gnmt-alex.png'>
      <form action='/products/orders/new' method='POST'>
        <p id='detail'>Name: Alex<br>Style: Earrings<br>Metal: Gunmetal<br>Stone: Abalone<br>Customized<br>Price: $30</p>
        <input type='submit' value='Add To Cart'>
      </form>
    </div>
    <div>
      <img id='Img' src='/images/gunmetal/gnmt-darrell.png'>
      <form action='/products/orders/new' method='POST'>
        <p id='detail'>Name: Darrell<br>Style: Necklace<br>Metal: Gunmetal<br>Stones: Abalone, Dichroic Glass, and Clear<br>Customized<br>Price: $55</p>
        <input type='submit' value='Add To Cart'>
      </form>
    </div>
    <div>
      <img id='Img' src='/images/gunmetal/gnmt-elora.png'>
      <form action='/products/orders/new' method='POST'>
        <p id='detail'>Name: Elora<br>Style: Earrings<br>Metal: Gunmetal<br>Stone: Sky Blue Illusion<br>Customized<br>Price: $35</p>
        <input type='submit' value='Add To Cart'>
      </form>
    </div>
    <div>
      <img id='Img' src='/images/gunmetal/ngnmt-malia.png'>
      <form action='/products/orders/new' method='POST'>
        <p id='detail'>Name: Malia<br>Style: Bracelet<br>Metal: Navy-Gunmetal<br>Season: Winter 2018<br>Discontinued<br>Price: $20</p>
        <input type='submit' value='Add To Cart'>
      </form>
    </div>
    <footer id='footer-show'>
      <a  id='back' href='/products'> Back </a>
    </footer>
    
</body>
</html>
