<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Gold Products</title>
</head>
<body id='gold-page'>
  <div id='nav' class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <a id='opt' href='/products/gunmetal'> Gunmetal </a><br>
        <a id='opt' href='/products/gold'> Gold </a><br>
        <a id='opt' href='/products/rsg'> Rose Gold </a><br>
        <a id='opt' href='/products/colorful'> Colorful </a><br>
        <a id='opt' href='/products/show'> All Products </a><br>
        <a id='cart' href='/products/orders'> View Cart </a><br>
      </div>
    </nav>
  </div>
  <div>
    
  </div>
  <footer id='footer-show'>
    <a id='back' href='/products'> Back </a>
  </footer>
</body>
</html>